.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.card-image {
  position: relative;
}

.cards:hover .overlay-text {
  /* display: flex; */
  opacity:1;
}


div.overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(255,255,255,0.6);
  backdrop-filter: blur(10px);
  display: flex;
  opacity:0;
  justify-content: center;
  align-items: center;
  transition: all ease .3s;
  cursor: pointer;
  /* transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; */
}

.detail-image {
  width:140px;
}

div.cardHeader {
  margin-bottom:-20px;
  z-index: 2;
  /* background: black; */
  justify-content: end;
  position:absolute;
  padding:5px 0 0 5px;
  text-align:left;
}
.favorite-button {
  position: relative;
  width: 25px;
  height: 22.5px;
  /* margin-top: 10px; */
}

.favorite-button::before, .favorite-button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 13px;
  height: 20px;
  border-radius: 50px 50px 0 0;
  /* background: red; */
  background: white;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) .7s;
}

.favorite-button::before {
  left: 12px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.favorite-button::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.favorite-button:hover::after , .favorite-button:hover::before{
  background: red;
}
.favorite-button:hover{
  cursor: pointer;
}
/* .favorite-button:hover::before{
  background: white;
} */


.badge-genre {
  margin: 0 1px;
}


.loading-container{
  left:0;
  top:0;
  right:0;
  bottom:0;
  justify-content: center;
  align-content: center;
}

@keyframes ldio-pg5o0nt2gjd {
  0% { transform: scale(1.1500000000000001) }
  100% { transform: scale(1) }
}
.ldio-pg5o0nt2gjd div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 13.333333333333336px;
  left: 13.333333333333336px;
  background: #e15b64;
  animation: ldio-pg5o0nt2gjd 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.3s;
}
.ldio-pg5o0nt2gjd div:nth-child(2) {
  top: 13.333333333333336px;
  left: 106.66666666666666px;
  background: #f47e60;
  animation-delay: -0.2s;
}
.ldio-pg5o0nt2gjd div:nth-child(3) {
  top: 106.66666666666666px;
  left: 13.333333333333336px;
  background: #abbd81;
  animation-delay: 0s;
}
.ldio-pg5o0nt2gjd div:nth-child(4) {
  top: 106.66666666666666px;
  left: 106.66666666666666px;
  background: #f8b26a;
  animation-delay: -0.1s;
}
.loadingio-spinner-cube-ree4xz2pr3m {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-pg5o0nt2gjd {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-pg5o0nt2gjd div { box-sizing: content-box; }
/* generated by https://loading.io/ */


.recom-text {
  margin: 15px 0;
}

.recom-container {
  overflow-x: scroll;
}

.recom-row {
  height: 381px;
}

.editButton {
  width:50%
}